<html>
<title>
    {% block head_title %}
    {% endblock %}
</title>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <link href="/site_media/css/base.css" rel="stylesheet" type="text/css" />
     <script type="text/javascript"> 
            $(document).ready(function(){
                $(".s_corner").corner("3px");
            }) ;
         </script>
        {% block head_extra %}
    {% endblock %}
 </head>
 
<body align='center'>
<div id='main' >
        <div id ='head' style="text-align:center;margin:0px auto;">
        <div id='top' class='s_corner'>
        <div id = "top1">
            <div id = "IMG">
                <img width=83% height=70% src="/site_media/image/site/22.jpg">
            </div>
        </div>
        <div id = "top2">
            <div id = "top21" class='s_corner' onclick="location.href='/'" >
                <div style="margin-top:35px;margin-left:10px;">
                    
                    <div id='top212' class='abstract'>
                        <font size=2 class = 'ab' align='center'><span >首页</span></font>
                    </div>
                </div>
            </div>
            <div id = "top22" class='s_corner'  onclick="location.href='/blogs'">
                 <div style="margin-top:35px;margin-left:10px;">
                    
                    <div id='top222' class='abstract' >
                        <font size=2 class = 'ab' align='center'><span>博客</span></font>
                    </div>
                </div>
            </div>
            <div id = "top23"class='s_corner'  onclick="location.href='/write'" >
               <div style="margin-top:35px;margin-left:10px;">
                   
                    <div id='top232' class='abstract'>
                        <font size=2 class = 'ab' align='center'>写博客 </font>
                    </div>
                </div>
            </div>
            <div id = "top24" class='s_corner' onclick="location.href='/project'" >
                <div style="margin-top:35px;margin-left:10px;">
                   
                    <div id='top242' class='abstract' >
                        <font size=2 class = 'ab' align='center'>项目</font>
                    </div>
                </div>
            </div>
            <div id = "top25" class='s_corner' onclick="location.href='/about'" class='show_corner' >
               <div style="margin-top:35px;margin-left:10px;">
                   
                    <div id='top252' class='abstract'>
                        <font size=2 class = 'ab' align="center">我</font>
                    </div>
                </div>
            </div>
            <div style="clear:both">
            </div>
        </div>
        <div id = "top3">
            <div id = "top31" class='s_corner'>
                <form>
                    <div style="float:left;border:0px solid gray;">
                        <input type = "text" id='searchI' style="margin-top:1px;" class='inputS' onblur="if(this.value=='') {this.value='站内搜搜'; }">
                    </div>
                    <div style="float:left;border-right:0px solid white;border-left:solid 0px gray ;height:28px;">
                    </div>
                    <div id='searchButtom' class='inputS'>
                    </div>
                    <div style="clear:both;">
                    </div>
                </form>
            </div>
        </div>
        <div style="clear:both;">
        </div>
            </div>
    </div>
    <div id ='content'>
        <div id= 'leftFrame'>
            {% block leftFrame %}
            {% endblock %}
        </div>
        <div id = 'rightFrame'>
             {% block rightFrame %}
            {% endblock %}
        </div>
        <div style="clear:both;">
        </div>
    </div>
    <div id="bottom">
     </div>
    <div style="clear:both;">
    </div>
</div>
</body>
</html>


